{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block  content %}

{{ govukPanel({
  titleText: "Holiday request received",
  html: "Your holiday request from <strong>" + startDate + "</strong> to <strong>" + endDate + "</strong> has been received"
}) }}

{% endblock %}
